:root{
    --accent:black;
    --size:1.25rem;
}

* {
    font-size:var(--size);
    font-family: Arial, sans-serif;
    color: black;
    text-decoration: none;
    margin:1%;
    padding:0%;
    border: none;
    background: none;
}

body {
    margin: 1%;
}
nav, nav * {
    text-align: center;
    font-size: calc(var(--size)/100*90);
}
button:hover,section a{
    border-bottom:dotted 2px var(--accent); 
}
.selected{
    border-bottom:solid 2px var(--accent) !important;
}

section {
    width: 100%;
}
hr {
    border: solid 1px var(--accent);
    border-radius:20px;
    padding:0;
}
h1 {
    text-align: center;
    font-size:calc(var(--size)*2);
}
